body {
    background-color: powderblue;
  }
  h1 {
    color: green;
  }
  p {
    color: red;
  }
  background-image {
   background-image : src="C:\Users\SURYA KANT TIWARI\Desktop\htmlcsimage-modified.jpg"

  }